@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.radialBg {
  background: radial-gradient(#00AB63, #1B3536);
}

.my-scrolling-area::-webkit-scrollbar {
  width: 4px; /* Width for vertical scrollbar */
  height: 2px; /* Height for horizontal scrollbar */
}

/* Style the track (the area behind the thumb) */
.my-scrolling-area::-webkit-scrollbar-track {
  background: #FBFBFB; 
  border-radius: 10px;
}

/* Style the thumb (the draggable handle) */
.my-scrolling-area::-webkit-scrollbar-thumb {
  background: #F1F1F1; /* Use one of your requested colors */
  border-radius: 10px;
}

/* Style the thumb when hovering */
.my-scrolling-area::-webkit-scrollbar-thumb:hover {
  background: #1B3536; /* Use your other requested color for hover effect */
}